/* menu */

html {
  scroll-behavior: smooth; 
}

.headeren {
  width: auto;
  margin-bottom: 1%;
  position: relative;
  text-align: center;
  margin-top: -1%;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-family: 'Questrial', sans-serif;
  text-shadow: -1px -1px 0 #606060;
  font-size: 4.2em;
}


.containerx {
    position: absolute;
    top: 15px;
    left: 0px;
    }
  /* ignorer det her - aner faktisk ikke hvorfor det stadig er her 
  .backgroundmenuaside {
    max-width: 324px;
    position: absolute;
    opacity: 90%;
    height: 100%;
    top: 55px;
  } */
  
    /* knappen til container */
  
      div#topbar > #sections_btn_holder{
      
        width:100x;
        height:46px;
        padding-top:5px;
        padding-bottom: 5px; 
        z-index: 20000;
        margin-left: 1%;
        }
  
        div#topbar > #sections_btn_holder > button{ 
        color: #000;
        text-shadow: -1px -1px 0 #606060;
        text-decoration: none;
        font-size: 32px;
        padding-right: 15px;
        outline: none; 
        border: none;
        background-color: #eeeeee00;
        margin-left: -0%;
        }
        
        div#topbar > #sections_panel{
        position: absolute;
        height: 0px;
        width: 320px;
        background: gray;
        top: 60px;
        overflow:hidden;
        z-index:10000;
        transition: height 0.3s cubic-bezier(.24,.57,.91,.74) 0s;
        margin-left: -0%;
        }
      
      div#topbar > #sections_panel > div{
      background: gray;
      height:540px; /* value skal være mindre en Js value i function - kan ændre hvis menu skal være større */
      }
      /* gør den klistert */
     .stickytopbar {
        position: sticky;
        top: 0;
        margin-left: -0%;
      }
  /* indholdet i burger menu */    
  
  .backgroundmenu {
    box-shadow: gray;
    opacity: 90%;
    position: absolute;
    top: -20px;
    left: 20%;
    max-width: 320px;
    height: 620px;
  }
    .styleguide {
      position: absolute;
      top: 0px;
      left: 35px;
      font-size: 1.6em;
      font-family: 'Questrial', sans-serif;
      color: whitesmoke;
      white-space: nowrap;
      text-shadow: -1px -1px 0 #292929;
      text-decoration: none;
    }
    .navigation {
      position: absolute;
      top: 70px;
      left: 35px;
      font-size: 1.4em;
      font-family: 'Questrial', sans-serif;
      color: whitesmoke;
      text-shadow: -1px -1px 0 #292929;
      white-space: nowrap;
      text-decoration: none;
    }
    .buttons {
      position: absolute;
      top: 120px;
      left: 35px;
      font-size: 1.4em;
      font-family: 'Questrial', sans-serif;
      color: whitesmoke;
      white-space: nowrap;
      text-shadow: -1px -1px 0 #292929;
      text-decoration: none;
    }
    .footer {
      position: absolute;
      top: 170px;
      left: 35px;
      font-size: 1.4em;
      font-family: 'Questrial', sans-serif;
      color: whitesmoke;
      white-space: nowrap;
      text-shadow: -1px -1px 0 #292929;
      text-decoration: none;
    }
    .Application_form {
      position: absolute;
      top: 220px;
      left: 35px;
      font-size: 1.4em;
      font-family: 'Questrial', sans-serif;
      color: whitesmoke;
      white-space: nowrap;
      text-shadow: -1px -1px 0 #292929;
      text-decoration: none;
    }
    .image_slider {
      position: absolute;
      top: 270px;
      left: 35px;
      font-size: 1.4em;
      font-family: 'Questrial', sans-serif;
      color: whitesmoke; 
      white-space: nowrap;
      text-shadow: -1px -1px 0 #292929;
      text-decoration: none;
    }
   


    /* Contactus Float for all article Content. */ 
.main_content{
    margin-top: -200px;
  }
 
  .overSkrift {
    font-weight: bold;
    font-size: 1.1em;
  }
  
  .main_content ul{
    padding: 0;
    margin-left: 200px;
    margin-bottom: 250px;
  }
  
  .main_content li{
    float: left;
    width: 42%;
    margin-right: 100px;
    list-style-type: none; 
    margin-bottom: -10%;
    margin-top: 300px;
  }
  .main_content li img{
    width: 350px;
    margin-bottom: 50px;
    margin-left: 50%;
    height: 500px;
  }
  .main_content li span {
  line-height: 1.8;
  font-size: 1.1em;
  }
  .main_content li span p {
    margin-top: 0%;
  }
 
  .main_content ul:after{
    content: "";
    display: block;
    clear: both;
  }
      .main_content button:hover {
        font-family: 'Questrial', sans-serif;
        text-decoration: underline;
        border-color: orange;
        background-color: orange;
        color: white;
        font-weight: 600;
        cursor: pointer;
      }
      .main_content h5 {
        font-size: 1.4em;
        margin-top: 3%;
        font-family: 'Questrial', sans-serif;
        margin-bottom: 6%;
      }
      .main_content button {
        text-decoration: none;
        font-family: 'Questrial', sans-serif;
        width: 100px;
        height: 2.3em;
        text-align: center;
        outline: none;
        color: gray;
        border-color: black;
        font-size: 1em;
        margin-top: 23px;
        background-color: white;
        white-space: nowrap;
        margin-left: 2%;
        border-radius: 10px;
        }

        .margintopparagraf {
        font-family: 'Questrial', sans-serif;
}

