
.contactus ul{
    padding: 0;
    margin-left: 33%;
  }
  
  .contactus li{
    float: left;
    width: 42%;
    margin-right: 8%;
    list-style-type: none; 
    margin-bottom: -10%;
    margin-top: 300px;
  }
  
  .contactus li img{
    width: 80%;
    margin-bottom: 50px;
    margin-left: 25%;
    height: 516px;
   
  }
  
  .contactus li div {
  line-height: 1.8;
  font-size: 1.1em;
  
  }
  
  .contactus h3 {
    font-size: 1.4em;
    margin-top: -0%;
    font-family: 'Questrial', sans-serif;
   
  }
  .contactus li div p {
    margin-top: -3%;
  }
  .textform {
    font-size: 1.1em;
    font-weight: 300;
    font-family: 'Questrial', sans-serif;
  }
  .fat {
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Questrial', sans-serif;
  }
  .smallfat {
    font-size: 0.9em;
    font-weight: 200;
    font-family: 'Questrial', sans-serif;

  }
 
  
  .contactus ul:after{
    content: "";
    display: block;
    clear: both;
  }

  .contact-form input {
    font-family: 'Questrial', sans-serif;
    width: 450px;
    height: 2.3em;
    text-align: center;
    border-color: black;
    outline: none;
    color: gray;
    font-size: 1em;
    margin-bottom: 0.5em;
    }

    .contactus textarea {
      font-family: 'Questrial', sans-serif;
      width: 450px;
      height: 2.3em;
      text-align: center;
      border-color: black;
      border-width: 2px; 
      outline: none;
      color: gray;
      font-size: 1em;
      padding-top: 0.5em;
      margin-bottom: 20px;
      }
      
    .contact-form button {
      font-family: 'Questrial', sans-serif;
      width: 460px;
      height: 2.3em;
      text-align: center;
      outline: none;
      color: gray;
      border-color: black;
      font-size: 1em;
      margin-bottom: 20px;
      background-color: white;
      }
      
      .contact-form button:hover {
        font-family: 'Questrial', sans-serif;
        text-decoration: underline;
        border-color: green;
        background-color: green;
        color: white;
        font-weight: 600;
        cursor: pointer;
      }

    /* bruges til tekst under kontaktmenu */
.tekstsizeiforkerttegnnavn {
    font-size: 0.8em;
    color: red;
    margin-left: 10px;
    font-family: 'Questrial', sans-serif;
  }

 
  #glidebane{
    opacity:0;
    transition:opacity 1.0s cubic-bezier(.24,.57,.91,.74) 0s;
    }


  
